<br />

<div class="booyah-box col-10 offset-1 team-page">
  <h1>Team</h1>
  <br />
  <br />
  <div class="row">
    <div class="col-12 col-sm-4 text-center">
      <%= image_tag("me.jpg", class: "bio-pic") %>
    </div>
    <div class="col-12 col-sm-6 team-bio">
      <h1 class="text-center text-sm-left">Yoshi Moriyama</h1>
      <p>
      Yoshi is the creator and developer of the Flixter app. He is currently enrolled in the Firehose Project where he is training to become a software engineer. Previously he worked for a mobile game company called Dots. He likes playing music and listening to podcasts.
      </p>
    </div>
</div>
