@import "bootstrap";


.navbar {
  color: white;
  font-family: Futura;
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-family: Futura; 
  font-size: 30px;
}